<div class="mt-5">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a href="#pago" class="nav-link active" data-toggle="tab">Faturas pagas</a>
    </li>
    <li class="nav-item">
      <a href="#aberto" class="nav-link" data-toggle="tab">Faturas em aberto</a>
    </li>
  </ul>

  <div class="tab-content w-75 p-3 mx-auto">
    <div class="container tab-pane active" id="pago"><br>
      <h3>FATURAS PAGAS</h3>
      <table class="table table-striped">
        <tr>
          <th>Fornecedor</th>
          <th>Valor</th>
          <th>DT pagto</th>
        </tr>
        <tr>
          <td>Empresa de Alcool Gel Ltda</td>
          <td>2.560,00</td>
          <td>22/06/2020</td>
        </tr>
        <tr>
          <td>Transportadora SA</td>
          <td>1600,00</td>
          <td>16/11/2020</td>
        </tr>
      </table>
    </div>
    <div id="aberto" class="container tab-pane fade">
      <br>
      <h3>FATURAS EM ABERTO</h3>
      <table class="table table-striped">
        <tr>
          <th>Fornecedor</th>
          <th>Valor</th>
          <th>DT vencto</th>
        </tr>
        <tr>
          <td>Induscabos SA</td>
          <td>8.150,00</td>
          <td>14/03/2021</td>
        </tr>
        <tr>
          <td>Rosset</td>
          <td>25.150,00</td>
          <td>5/03/2021</td>
        </tr>
      </table>
    </div>
  </div>
</div>